@layer utilities {
  /* Custom scrollbar styling */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #FFFDF1;
  }
  ::-webkit-scrollbar-thumb {
    background: #DED7BD;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #59C749;
  }
}

